$d_green: #cee5d0;
$d_light: #f3f0d7;
$d_brown: #e0c097;
$d_red: #ff7878;

.domino {
    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 980px;
        width: 100%;
    }
    &__header {
        height: px;
        background-color: $d_light;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            color: $d_red;
        }
    }
    &__create {
        background-color: $d_light;
        width: 100%;
        border-top: 2px solid $d_brown;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        &__domino {
            padding: 11px;
        }
        &__selects {
            select {
                margin: 13px;
                outline: none;
                border: 2px solid $d_green;
                font-size: 26px;
            }
        }
    }
}
